<div class="grid">
    <div class="grid-period">
        <div class="grid-period-nav">
            <a href="#" class="period-nav-left"><i class="icon-left"></i></a>
            April 2016
            <a href="#" class="period-nav-right"><i class="icon-right"></i></a>
        </div>
        <div class="grid-period-days">
            <span class="cell">1</span>
            <span class="cell">2</span>
            <span class="cell">3</span>
            <span class="cell">4</span>
            <span class="cell">5</span>
            <span class="cell">6</span>
            <span class="cell">7</span>
            <span class="cell">8</span>
            <span class="cell">9</span>
            <span class="cell">10</span>
            <span class="cell">11</span>
            <span class="cell">12</span>
            <span class="cell">13</span>
            <span class="cell">14</span>
            <span class="cell">15</span>
            <span class="cell">16</span>
            <span class="cell">17</span>
            <span class="cell">18</span>
            <span class="cell">19</span>
            <span class="cell">20</span>
            <span class="cell">21</span>
            <span class="cell">22</span>
            <span class="cell">23</span>
            <span class="cell">24</span>
            <span class="cell">25</span>
            <span class="cell">26</span>
            <span class="cell">27</span>
            <span class="cell">28</span>
        </div>
    </div>
    <div class="grid-groups">
        <div class="grid-group">
            <div class="grid-group-desc"><!-- left column -->
                <span class="grid-row grid-row-header">Midnight Shift</span>
                <span class="grid-row">Blake</span>
                <span class="grid-row">Griffin</span>
                <span class="grid-row">Farr</span>
                <span class="grid-row">Cedin</span>
                <span class="grid-row">Jordan</span>
                <span class="grid-row">Liu</span>
                <span class="grid-row">Provenzano</span>
                <span class="grid-row">Stomp</span>
                <span class="grid-row">Mancione</span>
                <span class="grid-row totals">Totals</span>
            </div>
            <div class="grid-group-schedule"><!-- other columns -->
                <span class="grid-row grid-row-header">
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                </span>
                <span class="grid-row">
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                </span>
                <span class="grid-row">
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                </span>
                <span class="grid-row">
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                </span>
                <span class="grid-row">
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                </span>
                <span class="grid-row">
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell">M</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row totals">
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">3</span>
                    <span class="cell">3</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">6</span>
                    <span class="cell">6</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">3</span>
                    <span class="cell">3</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">6</span>
                    <span class="cell">6</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                </span>
            </div>
        </div>
        <div class="grid-group">
            <div class="grid-group-desc"><!-- left column -->
                <span class="grid-row grid-row-header">Day Shift</span>
                <span class="grid-row">Blake</span>
                <span class="grid-row">Griffin</span>
                <span class="grid-row">Farr</span>
                <span class="grid-row">Cedin</span>
                <span class="grid-row">Jordan</span>
                <span class="grid-row">Liu</span>
                <span class="grid-row">Provenzano</span>
                <span class="grid-row">Stomp</span>
                <span class="grid-row">Mancione</span>
                <span class="grid-row totals">Totals</span>
            </div>
            <div class="grid-group-schedule"><!-- other columns -->
                <span class="grid-row grid-row-header">
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                    <span class="cell">M</span>
                    <span class="cell">T</span>
                    <span class="cell">W</span>
                    <span class="cell">T</span>
                    <span class="cell">F</span>
                    <span class="cell">S</span>
                    <span class="cell">S</span>
                </span>
                <span class="grid-row">
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row">
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                </span>
                <span class="grid-row">
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                </span>
                <span class="grid-row">
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                </span>
                <span class="grid-row">
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                </span>
                <span class="grid-row">
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell">D</span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                    <span class="cell off"></span>
                </span>
                <span class="grid-row totals">
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">3</span>
                    <span class="cell">3</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">6</span>
                    <span class="cell">6</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">3</span>
                    <span class="cell">3</span>
                    <span class="cell">4</span>
                    <span class="cell">5</span>
                    <span class="cell">6</span>
                    <span class="cell">6</span>
                    <span class="cell">5</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                    <span class="cell">4</span>
                </span>
            </div>
        </div>
    </div>
</div>
