---
layout: "layout"
route: "scheduling"
sub_route: "beats"
---

<div id="assignments-wrap" class="content">
    <div class="assignments-table-header">
        <span class="table-header">Assignments</span>
        <ul class="table-days-nav">
            <li class="nav-day"><i class="icon-left"></i></li>
            <li class="nav-day">Today (4/19/2016)</li>
            <li class="nav-day"><i class="icon-right"></i></li>
        </ul>
        <select>
            <option>Midnight Shift</option>
            <option>Day Shift</option>
            <option>Afternoon Shift</option>
        </select>
    </div>
    <ul class="assignments table">
        <li class="assignment-row">
            <span class="name">Beat 245</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1203</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 246</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1203</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 247</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 248</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1203</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 249</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 250</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 251</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 252</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 253</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 254</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 255</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 256</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 257</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 258</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 259</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i> #1548</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
    </ul>
    <div class="drawer">
        <i class="icon-cross close-link js-close-link"></i>
        <h1 class="drawer-header"><strong>Edit:</strong> Beat 245</h1>
        <p class="drawer-subheader">4/18/2016 | Midnight Shift</p>
        <div class="drawer-form">
            <label>Assigned Car</label>
            <select>
                <option># 1203</option>
            </select>
            <label>Assigned Patrol</label>
            <select>
                <option>Farr, Brandon</option>
                <option>Officer 2</option>
            </select>
            <select>
                <option>Cedin, Mike</option>
                <option>Officer 4</option>
            </select>
            <div class="form-buttons">
                <a href="#" class="button accent js-close-link">Save</a>
            </div>
        </div>
    </div>
</div>
