---
layout: "layout"
route: "scheduling"
sub_route: "assign"
---

<div id="assignments-wrap" class="content">
    <div class="assignments-table-header">
        <span class="table-header">Open Assignments</span>
        <ul class="table-days-nav">
            <li class="nav-day"><i class="icon-left"></i></li>
            <li class="nav-day">Tomorrow (4/20/2016)</li>
            <li class="nav-day"><i class="icon-right"></i></li>
        </ul>
        <select>
            <option>Midnight Shift</option>
            <option>Day Shift</option>
            <option>Afternoon Shift</option>
        </select>
    </div>
    <ul class="assignments table">
        <li class="assignment-row js-removed-sample">
            <span class="name">Beat 428</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>Squad Car</span>
                <span class="user">2x Patrol Officer <em>(Unnassigned)</em></span>
            </span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>Squad Car</span>
                <span class="user">2x Patrol Officer <em>(Unnassigned)</em></span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 429</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>Squad Car</span>
                <span class="user">2x Patrol Officer <em>(Unnassigned)</em></span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 430</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>Squad Car</span>
                <span class="user">2x Patrol Officer <em>(Unnassigned)</em></span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 431</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>Squad Car</span>
                <span class="user">2x Patrol Officer <em>(Unnassigned)</em></span>
            </span>
        </li>
    </ul>
    <div class="assignments-table-header">
        <span class="table-header">FILLED ASSIGNMENTS</span>
        <select>
            <option>Midnight Shift</option>
            <option>Day Shift</option>
            <option>Afternoon Shift</option>
        </select>
    </div>
    <ul class="assignments table">
        <li class="assignment-row js-sample" style="display: none;">
            <span class="name">Beat 428</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#182</span>
                <span class="user">Farr, Brandon</span>
                <span class="user">Cedin, Mike</span>
            </span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#185</span>
                <span class="user">Jordan, Michael</span>
                <span class="user">Pippen, Scottie</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 255</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#78</span>
                <span class="user">Mancione, Steve</span>
                <span class="user">Provenzano, Frank</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 256</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#102</span>
                <span class="user">Liu, Mark</span>
                <span class="user">Stomp, Alex</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 257</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#85</span>
                <span class="user">Doe, Jane</span>
                <span class="user">Doe, John</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 258</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#90</span>
                <span class="user">Smith, Jane</span>
                <span class="user">Smith, John</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 259</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#92</span>
                <span class="user">Buffay, Phoebe</span>
                <span class="user">Bing, Chandler</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 260</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#45</span>
                <span class="user">Geller, Ross</span>
                <span class="user">Green, Rachel</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 261</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#36</span>
                <span class="user">Geller, Monica</span>
                <span class="user">Tribiani, Joey</span>
            </span>
        </li>
        <li class="assignment-row">
            <span class="name">Beat 262</span>
            <span class="user-assignment">
                <span class="vehicle"><i class="icon-car"></i>#120</span>
                <span class="user">Rudd, Paul</span>
                <span class="user">Downey, Robert</span>
            </span>
        </li>
    </ul>
    <div class="drawer">
        <i class="icon-cross close-link js-close-link"></i>
        <h1 class="drawer-header"><strong>Assign:</strong> Beat 428</h1>
        <p class="drawer-subheader">4/18/2016 | Midnight Shift</p>
        <div class="drawer-form">
            <ul class="form-open-assignments">
                <li class="open-assignment js-open-assignment">
                    <h3>Squad Car</h3>
                    <p>+ 2x Patrol</p>
                </li>
                <li class="open-assignment js-open-assignment">
                    <h3>Squad Car</h3>
                    <p>+ 2x Patrol</p>
                </li>
            </ul>
            <div class="assignment-fields js-assignment-fields">
                <label>Squad Car</label>
                <select class="js-car-select">
                    <option>Choose from available squad cars</option>
                    <option>#143</option>
                    <option>#145</option>
                    <option>#146</option>
                    <option>#147</option>
                    <option>#148</option>
                    <option>#149</option>
                    <option>#150</option>
                    <option>#151</option>
                    <option>#152</option>
                    <option>#153</option>
                    <option>#154</option>
                    <option>#155</option>
                    <option>#182</option>
                    <option>#185</option>
                    <option>#248</option>
                </select>
                <div class="officer-selection js-officer-selection">
                    <label>Patrol Officers (x2)</label>
                    <select class="js-select-patrol js-first-patrol">
                        <option>Choose from available officers</option>
                        <option>Farr, Brandon</option>
                        <option>Cedin, Mike</option>
                        <option>Jordan, Michael</option>
                        <option>Pippen, Scottie</option>
                        <option>Graves, Gustav</option>
                        <option>Swartz, Scotty</option>
                        <option>Gordon, Greg</option>
                        <option>Ohare, Orwell</option>
                        <option>Paus, Paul</option>
                        <option>Zellers, Zach</option>
                        <option>Heller, Hans</option>
                        <option>Many, Mike</option>
                        <option>Griffith, Grestin</option>
                        <option>Hill, Hank</option>
                        <option>White, Walter</option>
                        <option>Smith, Sam</option>
                        <option>Hoover, Herbert</option>
                        <option>Nugent, Tedd</option>
                        <option>Hunt, Ethan</option>
                    </select>
                    <select class="js-select-patrol js-second-patrol">
                        <option>Choose from available officers</option>
                        <option>Farr, Brandon</option>
                        <option>Cedin, Mike</option>
                        <option>Jordan, Michael</option>
                        <option>Pippen, Scottie</option>
                        <option>Graves, Gustav</option>
                        <option>Swartz, Scotty</option>
                        <option>Gordon, Greg</option>
                        <option>Ohare, Orwell</option>
                        <option>Paus, Paul</option>
                        <option>Zellers, Zach</option>
                        <option>Heller, Hans</option>
                        <option>Many, Mike</option>
                        <option>Griffith, Grestin</option>
                        <option>Hill, Hank</option>
                        <option>White, Walter</option>
                        <option>Smith, Sam</option>
                        <option>Hoover, Herbert</option>
                        <option>Nugent, Tedd</option>
                        <option>Hunt, Ethan</option>
                    </select>
                    <div class="partner js-partner">
                        <label>Keep Last Partner</label>
                        <p class="partner-recommended">Cedin, Mike</p>
                        <a href="#" class="button js-alternate-selection">Change</a>
                    </div>
                    <div class="form-checkbox">
                        <input type="checkbox" id="checkbox1"></input>
                        <label for="checkbox1">Repeat through rest of period</label>
                    </div>
                    <div class="form-buttons">
                        <a href="#" class="button js-close-link js-success">Done</a>
                        <a href="#" class="button accent js-next-assignment">Next Assignment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
