---
layout: "layout"
route: "scheduling"
sub_route: "calendar"
---

<div id="grid-wrap" class="content">
    <%= partial "grid" %>

    <div class="drawer">
        <i class="icon-cross close-link js-close-link"></i>
        <p class="drawer-subheader">4/2/2016 | Midnight Shift</p>
        <div class="drawer-form">
            <label>Form to make changes...</label>
            <div class="form-buttons">
                <a href="#" class="button accent">Submit</a>
                <a href="#" class="button">Cancel</a>
            </div>
        </div>
    </div>
</div>
