---
layout: "layout"
route: "dashboard"
sub_route: "daily_shifts"
---

<div id="dashboard-wrap" class="content">
    <div class="panels-wrapper">
        <div class="panel">
            <div class="panel-header">
                <p>Daily Shifts</p>
            </div>
            <div class="panel-body">
                <p>
                    List who is coming to work that day, able to click to see next days.
                </p>
            </div>
        </div>
    </div>
</div>
