---
layout: "layout"
route: "dashboard"
sub_route: "dashboard"
---

<div id="dashboard-wrap" class="content">
    <div class="panels-wrapper">
        <div class="dashboard-left">
            <div class="panel">
                <div class="panel-header">
                    <p>My Schedule</p>
                </div>
                <div class="panel-body">
                    <p>
                        List what current user has to do today, able to click to see next days.
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-right">
            <div class="panel">
                <div class="panel-header">
                    <p>Alerts</p>
                </div>
                <div class="panel-body">
                    <p>
                        Pending Actions and notification feed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
