---
layout: "layout"
route: "users"
sub_route: "preferred_shifts"
---

<div id="users-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Preferred Shifts</p>
        </div>
        <div class="panel-body">
            <p>
                Select Pref. Shifts
            </p>
        </div>
    </div>
</div>
