---
layout: "layout"
route: "reports"
sub_route: "hours"
---

<div id="reports-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Hours Report</p>
        </div>
        <div class="panel-body">
            <p>
                Default land on the hours report -- store each users's last query in cache so that it is pre-loaded after the first time.. to avoid continuously long load times.
            </p>
        </div>
    </div>
</div>
