---
layout: "layout"
route: "settings"
sub_route: "scheduling"
---

<div id="settings-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Scheduling Options</p>
        </div>
        <div class="panel-body">
            <p>
                Set up the available jobs & shifts at the department.
            </p>
        </div>
    </div>
</div>
