---
layout: "layout"
route: "settings"
sub_route: "employees"
---

<div id="settings-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Employees</p>
        </div>
        <div class="panel-body">
            <p>
                Employees table, can assign to groups and order by seniority.
            </p>
        </div>
    </div>
</div>
