---
layout: "layout"
route: "reports"
sub_route: "shift_changes"
---

<div id="reports-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Shift Changes</p>
        </div>
        <div class="panel-body">
            <p>
                Shift changes made to the schedule, can click through to see individual officer's request over time.
            </p>
        </div>
    </div>
</div>
