---
layout: "layout"
route: "users"
sub_route: "availability"
---

<div id="users-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>Users</p>
        </div>
        <div class="panel-body">
            <p>
                List out all users, and actions to manage their settings.
            </p>
        </div>
    </div>
</div>
