---
layout: "layout"
route: "reports"
sub_route: "wages"
---

<div id="reports-wrap" class="content">
    <div class="panel">
        <div class="panel-header">
            <p>ACCRUALS & WAGES</p>
        </div>
        <div class="panel-body">
            <p>
                See accumulated hours earned with overtime and cash payment choices too.. current accruals balances, etc.
            </p>
        </div>
    </div>
</div>
